body {
    background-image: url(../img/background.jpg);

    font-family: 'Medula One', cursive;
    letter-spacing: 0.073125em;
    font-size: 15px;
    color: #B99F65;
    text-align: center;
    margin-bottom: 70px;
}

.center{
    text-align:center;
}

.imagenes{
    width:auto;
    height:auto;
    text-align:center;
    display: block;
    margin: 50px;
}