
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }

  div{
    background-color: burlywood;
    padding: 5px;
  }

  input {
    background:rgba(0,0,0,0.2);
    border-color: chocolate;
  }
