* {
  box-sizing: border-box;
}


body {
  background: radial-gradient(rgb(159, 217, 250) 5%, rgb(136, 231, 255) 25%, #cbe5ff 50%);
  background-repeat: no-repeat;
  height: 100vh;
}

#user {
      position: absolute;
      top:50%;
      left: 50%;           
      margin-left: -220px;

      font-size: 200%;
      color: rgb(0, 0, 0);
      font-weight: 100;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

p {
  display: block;
}

/* Animaciones del fondo */
@keyframes color {
0% {
  background-color: rgb(255, 255, 255);
}
50% {
  background-color: #4285f4;
}
75% {
  background-color: rgb(192, 81, 174);
}
100% {
  background-color: rgb(255, 235, 252);
}
}

@keyframes static {
0% {
  background-color: rgb(255, 255, 255);
}
100% {
  background-color: rgb(255, 255, 255);
}
}

#msg_recibidos{
  height: 250px;
  padding-bottom: 20px;
  overflow-y: auto;
  position: relative;
}

.info {
  float: left;
  border: 1px solid gray;
  border-radius: 10px;
  height: auto;
  width: 40%;
  background-color: rgb(213, 206, 241);
  padding: 10px;
}

.div_chat{
  width: 50%;
  margin: 15px;
  margin-right: 5%;
  float: right;
}

.mensaje{
  color: #fff;
  text-align: left;
}

body {
background: radial-gradient(rgb(159, 217, 250) 5%, rgb(136, 231, 255) 25%, #cbe5ff 50%);
background-repeat: no-repeat;
height: 100vh;
}

#msg_entry {
  background-color: black;
  border: none;
  outline: none;
  padding: 15px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
}

.chat {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 10px 6px 25px 0px rgba(0,0,0,0.58);
  text-align:center;

  animation-name: color;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}

.typing {
display: 'none';
color: rgb(102, 102, 102);
}

#display_user {
margin-left: 50%;
color: rgb(88, 88, 88);
text-align: right;
}

#priv_user {
margin-left: 50%;
color: rgb(144, 125, 255);
text-align: right;
}

.server_msg {
color:rgb(179, 179, 179);
text-align: center;
}